<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>ShadowFont</string>
		<key>fontName</key>
		<string>Arial</string>
		<key>fontSize</key>
		<integer>40</integer>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>255</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>255</integer>
		</dict>
		<key>shadowEnabled</key>
		<true/>
		<key>shadowBlur</key>
		<real>0.5</real>
		<key>shadowOffset</key>
		<dict>
			<key>width</key>
			<integer>5</integer>
			<key>height</key>
			<integer>5</integer>
		</dict>
		<key>shadowOpacity</key>
		<real>0.5</real>
		<key>strokeEnabled</key>
		<false/>
		<key>strokeSize</key>
		<integer>3</integer>
		<key>stockColor</key>
		<dict>
			<key>r</key>
			<integer>255</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>StockFont</string>
		<key>fontName</key>
		<string>Arial</string>
		<key>fontSize</key>
		<integer>40</integer>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>255</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>255</integer>
		</dict>
		<key>shadowEnabled</key>
		<false/>
		<key>shadowBlur</key>
		<real>0.5</real>
		<key>shadowOffset</key>
		<dict>
			<key>width</key>
			<integer>4</integer>
			<key>height</key>
			<integer>4</integer>
		</dict>
		<key>shadowOpacity</key>
		<real>0.5</real>
		<key>strokeEnabled</key>
		<true/>
		<key>strokeSize</key>
		<integer>6</integer>
		<key>stockColor</key>
		<dict>
			<key>r</key>
			<integer>255</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
		</dict>
	</dict>
</array>
</plist>
